body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070733;
    color: #ffffff;

}

header {
    background-color: #2e2be6;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-bottom: auto;
}

p {
    font-size: 16px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #2e2be6;
    color: #ffffff;
}

.nav {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Center the items horizontally */
    background-color: #1f1d80;
    height: auto;
    border-radius: 20px;
    
}

.nav ul li {
    margin-right: 20px; /* Increase or decrease this value to adjust spacing */
    font-size: 50px;
}

.nav ul li a {
    text-decoration: none; /* Remove underlines from links */
    color: #ffffff; /* Set link color */
    font-weight: bold; /* Make the text bold */
    padding: 50px; /* Add some padding for spacing */
    padding-bottom: 5px;
    padding-top: 5px;
}

.nav ul li a:hover {
    background-color: #2e2be6; /* Add a background color on hover */
}

.content {

    height: auto;
    border-radius: 20px;
    padding: 30px;
    
    background-color: #1f1d80;
    
}

div {
    margin-left: 5%;
    margin-right: 5%;
}


